# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Project data
*.pth
*.pt
*.png
*.csv

# Logs
*.log
